// Tomorrow
// https://github.com/ChrisKempson/Tomorrow-Theme#tomorrow
color-background = #fff
color-foreground = #808080
color-logo-gray = #4a4a4a
color-logo-yellow = #f7e53b
color-current = #efefef 
color-selection = #d6d6d6
color-comment = #8e908c
color-red = #c82829
color-orange = #f5871f
color-yellow = #eab700
color-green = #718c00
color-aqua = #3e999f
color-blue = #4271ae
color-purple = #8959a8
color-highlight = #cdfe04
color-tooltip = #555

// Highlight.js + Tomorrow theme + Coffeescript combo yields same color for function names and comments, so fix.
.hljs-title
  color color-purple

body
  background-color color-background
  color color-foreground
  font-size 18px
  line-height 24px
  font-family 'Lekton', monospace

p, ul, ol, .article
  margin-bottom 30px

h1
  text-align center
  font-size 30px
  line-height 35px
  margin-bottom 5px

h2
  text-align center
  font-size 24px
  line-height  28px
  margin-bottom 10px

pre
  margin-bottom 35px


a
  text-decoration none
  color color-foreground
  background color-logo-yellow
  padding 0 5px
  &:hover
    background color-logo-gray
    color color-logo-yellow

a.paginate
  position absolute
  display block
  top 0
  width 50px
  height 20px
  text-align center
  &.paginate-home
    right 50%
  &.paginate-previous
    left 0
  &.paginate-next
    right 0

hr
  box-sizing content-box
  width 100px
  height 0
  margin 50px auto
  border 0
  border-top 1px solid #d9d9d9

pre
  font-family 'Lekton', monospace
  font-size 15px
  line-height 20px
  background url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAKElEQVQImWN89+4dAwODoKAgAwMDE5z1/v17xv///0NYUBkIS1BQEAB7Uw7Oc/qzUwAAAABJRU5ErkJggg=='))
  padding 15px
  white-space pre
  margin-bottom 75px

.container
  width 640px
  margin 100px auto

.lz
  margin 0px auto

#example
  margin-bottom 75px


